<launch>

  <node pkg="ipc"
    name="central"
    type="central"
    output="screen"
    args="-su">
  </node>

  <node pkg="ipc_geometry_msgs"
    name="speed_node"
    type="geometry_msgs_Twist_subscriber"
    output="screen">
    <remap from="~topic" to="/robucar/cmd_vel"/>
    <param name="message" value="twist"/>
  </node>

</launch>
